# Virtual environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg-info
*.egg

# OS-specific
.DS_Store
Thumbs.db

# VS Code
.vscode/
.history/

# Logs
*.log

# Streamlit cache
.streamlit/

